<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <div>
            <form th:action="@{/department}" method="get">
                <div class="form-group mb-2">
                    <input type="text" name="departmentId" placeholder="부서아이디">
                </div>
                <button type="submit" class="btn btn-primary mb-2">검색</button>
            </form>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>아이디</th>
                <th>부서명</th>
                <th>도로명</th>
                <th>우편번호</th>
                <th>도시</th>
                <th>State_Province</th>
                <th>국가</th>
                <th>Region</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="department : ${departments}">
                <td th:text="${department.id}"></td>
                <td th:text="${department.departmentName}"></td>
                <td th:text="${department.location.streetAddress}"></td>
                <td th:text="${department.location.postalCode}"></td>
                <td th:text="${department.location.city}"></td>
                <td th:text="${department.location.stateProvince}"></td>
                <td th:text="${department.location.country.countryName}"></td>
                <td th:text="${department.location.country.region.regionName}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>
